<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{208,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,50}}</string>
                <key>sourceSize</key>
                <string>{208,50}</string>
            </dict>
            <key>002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,54},{208,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,50}}</string>
                <key>sourceSize</key>
                <string>{208,50}</string>
            </dict>
            <key>003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{208,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,50}}</string>
                <key>sourceSize</key>
                <string>{208,50}</string>
            </dict>
            <key>004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{190,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,44}}</string>
                <key>sourceSize</key>
                <string>{190,44}</string>
            </dict>
            <key>005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,308},{131,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,50}}</string>
                <key>sourceSize</key>
                <string>{131,50}</string>
            </dict>
            <key>006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{131,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,50}}</string>
                <key>sourceSize</key>
                <string>{131,50}</string>
            </dict>
            <key>007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{131,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,50}}</string>
                <key>sourceSize</key>
                <string>{131,50}</string>
            </dict>
            <key>guang.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,344},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>niu0.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,163},{56,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,30}}</string>
                <key>sourceSize</key>
                <string>{56,30}</string>
            </dict>
            <key>niu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,307},{52,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{52,26}}</string>
                <key>sourceSize</key>
                <string>{56,30}</string>
            </dict>
            <key>niu10.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,279},{54,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{54,26}}</string>
                <key>sourceSize</key>
                <string>{56,30}</string>
            </dict>
            <key>niu11.png</key>
            <dict>
                <key>frame</key>
                <string>{{29,394},{82,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,25}}</string>
                <key>sourceSize</key>
                <string>{82,25}</string>
            </dict>
            <key>niu12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,478},{82,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,25}}</string>
                <key>sourceSize</key>
                <string>{82,25}</string>
            </dict>
            <key>niu13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,360},{82,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,25}}</string>
                <key>sourceSize</key>
                <string>{82,25}</string>
            </dict>
            <key>niu14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,394},{82,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,25}}</string>
                <key>sourceSize</key>
                <string>{82,25}</string>
            </dict>
            <key>niu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,260},{54,26}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{54,26}}</string>
                <key>sourceSize</key>
                <string>{56,30}</string>
            </dict>
            <key>niu3.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,251},{54,26}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{54,26}}</string>
                <key>sourceSize</key>
                <string>{56,30}</string>
            </dict>
            <key>niu4.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,232},{54,26}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{54,26}}</string>
                <key>sourceSize</key>
                <string>{56,30}</string>
            </dict>
            <key>niu5.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,223},{54,26}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{54,26}}</string>
                <key>sourceSize</key>
                <string>{56,30}</string>
            </dict>
            <key>niu6.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,204},{54,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{54,26}}</string>
                <key>sourceSize</key>
                <string>{56,30}</string>
            </dict>
            <key>niu7.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,195},{54,26}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{54,26}}</string>
                <key>sourceSize</key>
                <string>{56,30}</string>
            </dict>
            <key>niu8.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,316},{50,26}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{50,26}}</string>
                <key>sourceSize</key>
                <string>{56,30}</string>
            </dict>
            <key>niu9.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,288},{52,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{52,26}}</string>
                <key>sourceSize</key>
                <string>{56,30}</string>
            </dict>
            <key>x1.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,383},{34,21}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{34,21}}</string>
                <key>sourceSize</key>
                <string>{38,21}</string>
            </dict>
            <key>x10.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,335},{50,21}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{50,21}}</string>
                <key>sourceSize</key>
                <string>{54,21}</string>
            </dict>
            <key>x2.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,140},{36,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{36,21}}</string>
                <key>sourceSize</key>
                <string>{38,21}</string>
            </dict>
            <key>x3.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,117},{36,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{36,21}}</string>
                <key>sourceSize</key>
                <string>{38,21}</string>
            </dict>
            <key>x4.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,360},{34,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{34,21}}</string>
                <key>sourceSize</key>
                <string>{38,21}</string>
            </dict>
            <key>x5.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,94},{36,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{36,21}}</string>
                <key>sourceSize</key>
                <string>{38,21}</string>
            </dict>
            <key>x6.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,71},{36,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{36,21}}</string>
                <key>sourceSize</key>
                <string>{38,21}</string>
            </dict>
            <key>x7.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,48},{36,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{36,21}}</string>
                <key>sourceSize</key>
                <string>{38,21}</string>
            </dict>
            <key>x8.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,25},{36,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{36,21}}</string>
                <key>sourceSize</key>
                <string>{38,21}</string>
            </dict>
            <key>x9.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{36,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{36,21}}</string>
                <key>sourceSize</key>
                <string>{38,21}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>niuniu.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bcc8778571575814b37d13c343e8415d:1/1$</string>
            <key>textureFileName</key>
            <string>niuniu.png</string>
        </dict>
    </dict>
</plist>
