<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>104.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,316},{212,312}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,312}}</string>
                <key>sourceSize</key>
                <string>{212,312}</string>
            </dict>
            <key>105.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{445,312}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{445,312}}</string>
                <key>sourceSize</key>
                <string>{445,312}</string>
            </dict>
            <key>4551.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,530},{113,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,114}}</string>
                <key>sourceSize</key>
                <string>{113,114}</string>
            </dict>
            <key>544654.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,316},{113,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,118}}</string>
                <key>sourceSize</key>
                <string>{113,118}</string>
            </dict>
            <key>liuchang.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,431},{113,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,114}}</string>
                <key>sourceSize</key>
                <string>{113,114}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game_icon.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eb65d49cce28543143c3dda8dd597712:1/1$</string>
            <key>textureFileName</key>
            <string>game_icon.png</string>
        </dict>
    </dict>
</plist>
