<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,943}</string>
                <key>spriteSourceSize</key>
                <string>{147,943}</string>
                <key>textureRect</key>
                <string>{{1,1},{147,943}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,74}</string>
                <key>spriteSourceSize</key>
                <string>{97,74}</string>
                <key>textureRect</key>
                <string>{{370,130},{97,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,35}</string>
                <key>spriteSourceSize</key>
                <string>{32,35}</string>
                <key>textureRect</key>
                <string>{{455,382},{32,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,74}</string>
                <key>spriteSourceSize</key>
                <string>{99,74}</string>
                <key>textureRect</key>
                <string>{{271,925},{99,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>124555.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,70}</string>
                <key>spriteSourceSize</key>
                <string>{98,70}</string>
                <key>textureRect</key>
                <string>{{352,828},{98,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>15641.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,73}</string>
                <key>spriteSourceSize</key>
                <string>{164,73}</string>
                <key>textureRect</key>
                <string>{{1,946},{164,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1845.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,74}</string>
                <key>spriteSourceSize</key>
                <string>{60,74}</string>
                <key>textureRect</key>
                <string>{{392,592},{60,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2151.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,73}</string>
                <key>spriteSourceSize</key>
                <string>{46,73}</string>
                <key>textureRect</key>
                <string>{{446,130},{46,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2521665.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,102}</string>
                <key>spriteSourceSize</key>
                <string>{74,102}</string>
                <key>textureRect</key>
                <string>{{167,925},{74,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4551.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,114}</string>
                <key>spriteSourceSize</key>
                <string>{113,114}</string>
                <key>textureRect</key>
                <string>{{254,121},{113,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>456465.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,113}</string>
                <key>spriteSourceSize</key>
                <string>{113,113}</string>
                <key>textureRect</key>
                <string>{{372,900},{113,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>515323214.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,75}</string>
                <key>spriteSourceSize</key>
                <string>{80,75}</string>
                <key>textureRect</key>
                <string>{{392,515},{80,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>544654.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,118}</string>
                <key>spriteSourceSize</key>
                <string>{113,118}</string>
                <key>textureRect</key>
                <string>{{254,1},{113,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5461961.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,76}</string>
                <key>spriteSourceSize</key>
                <string>{80,76}</string>
                <key>textureRect</key>
                <string>{{392,437},{80,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>55555445.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{175,38}</string>
                <key>spriteSourceSize</key>
                <string>{177,40}</string>
                <key>textureRect</key>
                <string>{{455,205},{175,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>564561.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,720}</string>
                <key>spriteSourceSize</key>
                <string>{102,720}</string>
                <key>textureRect</key>
                <string>{{150,1},{102,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>head_circle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{150,723},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>head_rect.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,199}</string>
                <key>spriteSourceSize</key>
                <string>{199,199}</string>
                <key>textureRect</key>
                <string>{{254,236},{199,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>liuchang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,114}</string>
                <key>spriteSourceSize</key>
                <string>{113,114}</string>
                <key>textureRect</key>
                <string>{{352,713},{113,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>touxiang1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,136}</string>
                <key>spriteSourceSize</key>
                <string>{138,138}</string>
                <key>textureRect</key>
                <string>{{254,437},{136,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>touxiang2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,127}</string>
                <key>spriteSourceSize</key>
                <string>{127,127}</string>
                <key>textureRect</key>
                <string>{{372,1},{127,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>touxiang3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,136}</string>
                <key>spriteSourceSize</key>
                <string>{138,138}</string>
                <key>textureRect</key>
                <string>{{254,575},{136,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>home.png</string>
            <key>size</key>
            <string>{500,1020}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a560c1e9f3112a9f57cc3e8e9706b704:c3aac6d638c58fb372e2f92cb65c2476:10101cf27d0f1c17e861425c0e9b5b27$</string>
            <key>textureFileName</key>
            <string>home.png</string>
        </dict>
    </dict>
</plist>
