<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,138}</string>
                <key>spriteSourceSize</key>
                <string>{138,138}</string>
                <key>textureRect</key>
                <string>{{5,575},{138,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,138}</string>
                <key>spriteSourceSize</key>
                <string>{138,138}</string>
                <key>textureRect</key>
                <string>{{9,231},{138,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,48}</string>
                <key>spriteSourceSize</key>
                <string>{108,48}</string>
                <key>textureRect</key>
                <string>{{9,499},{108,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,48}</string>
                <key>spriteSourceSize</key>
                <string>{108,48}</string>
                <key>textureRect</key>
                <string>{{137,371},{108,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,48}</string>
                <key>spriteSourceSize</key>
                <string>{108,48}</string>
                <key>textureRect</key>
                <string>{{145,481},{108,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,48}</string>
                <key>spriteSourceSize</key>
                <string>{108,48}</string>
                <key>textureRect</key>
                <string>{{145,591},{108,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>545561.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,54}</string>
                <key>spriteSourceSize</key>
                <string>{228,54}</string>
                <key>textureRect</key>
                <string>{{9,1},{228,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>line-01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2,719}</string>
                <key>spriteSourceSize</key>
                <string>{2,719}</string>
                <key>textureRect</key>
                <string>{{1,1},{2,719}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line-02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2,75}</string>
                <key>spriteSourceSize</key>
                <string>{2,75}</string>
                <key>textureRect</key>
                <string>{{5,715},{2,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>line-03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2,572}</string>
                <key>spriteSourceSize</key>
                <string>{2,572}</string>
                <key>textureRect</key>
                <string>{{5,1},{2,572}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>touxiang-di.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,105}</string>
                <key>spriteSourceSize</key>
                <string>{104,105}</string>
                <key>textureRect</key>
                <string>{{65,121},{104,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>touxiang-xuanzhong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,117}</string>
                <key>spriteSourceSize</key>
                <string>{118,117}</string>
                <key>textureRect</key>
                <string>{{65,1},{118,117}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yuan-img.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,126}</string>
                <key>spriteSourceSize</key>
                <string>{126,126}</string>
                <key>textureRect</key>
                <string>{{9,371},{126,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>user_basic_info.png</string>
            <key>size</key>
            <string>{194,721}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5c6257e6f047f64ea3f5bc2597c6792d:590c0bf8b36f91737c7dabc80685058e:33426023c345e0308969f65131bd28cb$</string>
            <key>textureFileName</key>
            <string>user_basic_info.png</string>
        </dict>
    </dict>
</plist>
