<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btnNo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,71}</string>
                <key>spriteSourceSize</key>
                <string>{200,71}</string>
                <key>textureRect</key>
                <string>{{203,1},{200,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnOK.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,71}</string>
                <key>spriteSourceSize</key>
                <string>{200,71}</string>
                <key>textureRect</key>
                <string>{{405,1},{200,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnVoted.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,71}</string>
                <key>spriteSourceSize</key>
                <string>{200,71}</string>
                <key>textureRect</key>
                <string>{{607,1},{200,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnYes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,72}</string>
                <key>spriteSourceSize</key>
                <string>{200,72}</string>
                <key>textureRect</key>
                <string>{{1,1},{200,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_cancle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{164,66}</string>
                <key>spriteSourceSize</key>
                <string>{176,74}</string>
                <key>textureRect</key>
                <string>{{809,1},{164,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_cancle_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{164,66}</string>
                <key>spriteSourceSize</key>
                <string>{176,76}</string>
                <key>textureRect</key>
                <string>{{975,1},{164,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_comfirm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{164,66}</string>
                <key>spriteSourceSize</key>
                <string>{176,74}</string>
                <key>textureRect</key>
                <string>{{1141,1},{164,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_download.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{164,66}</string>
                <key>spriteSourceSize</key>
                <string>{176,74}</string>
                <key>textureRect</key>
                <string>{{1307,1},{164,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_konw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{164,66}</string>
                <key>spriteSourceSize</key>
                <string>{176,76}</string>
                <key>textureRect</key>
                <string>{{1473,1},{164,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_pay.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{164,66}</string>
                <key>spriteSourceSize</key>
                <string>{176,74}</string>
                <key>textureRect</key>
                <string>{{1639,1},{164,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>alert.png</string>
            <key>size</key>
            <string>{1804,74}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:27fe82f4063933fadfc6d9f8f3612c38:c200c7f2c1a700ddc56e51823c7dcebf:c93ee1cf30f92d7eb5fc81faab3f05ed$</string>
            <key>textureFileName</key>
            <string>alert.png</string>
        </dict>
    </dict>
</plist>
