<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>45416541.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,62},{150,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{150,40}}</string>
                <key>sourceSize</key>
                <string>{150,42}</string>
            </dict>
            <key>55465154.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,2},{641,312}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{641,312}}</string>
                <key>sourceSize</key>
                <string>{641,314}</string>
            </dict>
            <key>56451.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,2},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>jing-dian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{314,641}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,641}}</string>
                <key>sourceSize</key>
                <string>{314,641}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>choose_game.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8a0794cbf087ba5963ce72621a98446e:1/1$</string>
            <key>textureFileName</key>
            <string>choose_game.png</string>
        </dict>
    </dict>
</plist>
