<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chengse.png</key>
            <dict>
                <key>frame</key>
                <string>{{1259,710},{175,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,240}}</string>
                <key>sourceSize</key>
                <string>{175,240}</string>
            </dict>
            <key>dawang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1017,710},{175,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,240}}</string>
                <key>sourceSize</key>
                <string>{175,240}</string>
            </dict>
            <key>fangkuai1.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,1808},{175,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,240}}</string>
                <key>sourceSize</key>
                <string>{175,240}</string>
            </dict>
            <key>fangkuai10.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,1566},{175,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,240}}</string>
                <key>sourceSize</key>
                <string>{175,240}</string>
            </dict>
            <key>fangkuai2.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,1324},{175,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,240}}</string>
                <key>sourceSize</key>
                <string>{175,240}</string>
            </dict>
            <key>fangkuai3.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,1082},{175,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,240}}</string>
                <key>sourceSize</key>
                <string>{175,240}</string>
            </dict>
            <key>fangkuai4.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,840},{175,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,240}}</string>
                <key>sourceSize</key>
                <string>{175,240}</string>
            </dict>
            <key>fangkuai5.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,1808},{175,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,240}}</string>
                <key>sourceSize</key>
                <string>{175,240}</string>
            </dict>
            <key>fangkuai6.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,1566},{175,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,240}}</string>
                <key>sourceSize</key>
                <string>{175,240}</string>
            </dict>
            <key>fangkuai7.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,1324},{175,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,240}}</string>
                <key>sourceSize</key>
                <string>{175,240}</string>
            </dict>
            <key>fangkuai8.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,1082},{175,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,240}}</string>
                <key>sourceSize</key>
                <string>{175,240}</string>
            </dict>
            <key>fangkuai9.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,840},{175,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,240}}</string>
                <key>sourceSize</key>
                <string>{175,240}</string>
            </dict>
            <key>fangkuaij.png</key>
            <dict>
                <key>frame</key>
                <string>{{1743,663},{175,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,240}}</string>
                <key>sourceSize</key>
                <string>{175,240}</string>
            </dict>
            <key>fangkuaik.png</key>
            <dict>
                <key>frame</key>
                <string>{{1501,533},{175,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,240}}</string>
                <key>sourceSize</key>
                <string>{175,240}</string>
            </dict>
            <key>fangkuaiq.png</key>
            <dict>
                <key>frame</key>
                <string>{{1259,533},{175,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,240}}</string>
                <key>sourceSize</key>
                <string>{175,240}</string>
            </dict>
            <key>heitao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1017,533},{175,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,240}}</string>
                <key>sourceSize</key>
                <string>{175,240}</string>
            </dict>
            <key>heitao10.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,533},{175,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,240}}</string>
                <key>sourceSize</key>
                <string>{175,240}</string>
            </dict>
            <key>heitao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,533},{175,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,240}}</string>
                <key>sourceSize</key>
                <string>{175,240}</string>
            </dict>
            <key>heitao3.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,1631},{175,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,240}}</string>
                <key>sourceSize</key>
                <string>{175,240}</string>
            </dict>
            <key>heitao4.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,1389},{175,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,240}}</string>
                <key>sourceSize</key>
                <string>{175,240}</string>
            </dict>
            <key>heitao5.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,1147},{175,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,240}}</string>
                <key>sourceSize</key>
                <string>{175,240}</string>
            </dict>
            <key>heitao6.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,905},{175,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,240}}</string>
                <key>sourceSize</key>
                <string>{175,240}</string>
            </dict>
            <key>heitao7.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,663},{175,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,240}}</string>
                <key>sourceSize</key>
                <string>{175,240}</string>
            </dict>
            <key>heitao8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1808,421},{175,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,240}}</string>
                <key>sourceSize</key>
                <string>{175,240}</string>
            </dict>
            <key>heitao9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1566,356},{175,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,240}}</string>
                <key>sourceSize</key>
                <string>{175,240}</string>
            </dict>
            <key>heitaoj.png</key>
            <dict>
                <key>frame</key>
                <string>{{1324,356},{175,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,240}}</string>
                <key>sourceSize</key>
                <string>{175,240}</string>
            </dict>
            <key>heitaok.png</key>
            <dict>
                <key>frame</key>
                <string>{{1082,356},{175,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,240}}</string>
                <key>sourceSize</key>
                <string>{175,240}</string>
            </dict>
            <key>heitaoq.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,356},{175,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,240}}</string>
                <key>sourceSize</key>
                <string>{175,240}</string>
            </dict>
            <key>hongse.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,356},{175,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,240}}</string>
                <key>sourceSize</key>
                <string>{175,240}</string>
            </dict>
            <key>hongtao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,356},{175,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,240}}</string>
                <key>sourceSize</key>
                <string>{175,240}</string>
            </dict>
            <key>hongtao10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1808,179},{175,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,240}}</string>
                <key>sourceSize</key>
                <string>{175,240}</string>
            </dict>
            <key>hongtao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1566,179},{175,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,240}}</string>
                <key>sourceSize</key>
                <string>{175,240}</string>
            </dict>
            <key>hongtao3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1324,179},{175,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,240}}</string>
                <key>sourceSize</key>
                <string>{175,240}</string>
            </dict>
            <key>hongtao4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1082,179},{175,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,240}}</string>
                <key>sourceSize</key>
                <string>{175,240}</string>
            </dict>
            <key>hongtao5.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,179},{175,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,240}}</string>
                <key>sourceSize</key>
                <string>{175,240}</string>
            </dict>
            <key>hongtao6.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,179},{175,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,240}}</string>
                <key>sourceSize</key>
                <string>{175,240}</string>
            </dict>
            <key>hongtao7.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,179},{175,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,240}}</string>
                <key>sourceSize</key>
                <string>{175,240}</string>
            </dict>
            <key>hongtao8.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,1631},{175,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,240}}</string>
                <key>sourceSize</key>
                <string>{175,240}</string>
            </dict>
            <key>hongtao9.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,1389},{175,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,240}}</string>
                <key>sourceSize</key>
                <string>{175,240}</string>
            </dict>
            <key>hongtaoj.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,1147},{175,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,240}}</string>
                <key>sourceSize</key>
                <string>{175,240}</string>
            </dict>
            <key>hongtaok.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,905},{175,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,240}}</string>
                <key>sourceSize</key>
                <string>{175,240}</string>
            </dict>
            <key>hongtaoq.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,663},{175,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,240}}</string>
                <key>sourceSize</key>
                <string>{175,240}</string>
            </dict>
            <key>lvse.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,421},{175,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,240}}</string>
                <key>sourceSize</key>
                <string>{175,240}</string>
            </dict>
            <key>meihua1.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,179},{175,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,240}}</string>
                <key>sourceSize</key>
                <string>{175,240}</string>
            </dict>
            <key>meihua10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1631,2},{175,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,240}}</string>
                <key>sourceSize</key>
                <string>{175,240}</string>
            </dict>
            <key>meihua2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1389,2},{175,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,240}}</string>
                <key>sourceSize</key>
                <string>{175,240}</string>
            </dict>
            <key>meihua3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1147,2},{175,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,240}}</string>
                <key>sourceSize</key>
                <string>{175,240}</string>
            </dict>
            <key>meihua4.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,2},{175,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,240}}</string>
                <key>sourceSize</key>
                <string>{175,240}</string>
            </dict>
            <key>meihua5.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,2},{175,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,240}}</string>
                <key>sourceSize</key>
                <string>{175,240}</string>
            </dict>
            <key>meihua6.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,2},{175,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,240}}</string>
                <key>sourceSize</key>
                <string>{175,240}</string>
            </dict>
            <key>meihua7.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,2},{175,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,240}}</string>
                <key>sourceSize</key>
                <string>{175,240}</string>
            </dict>
            <key>meihua8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1696},{175,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,240}}</string>
                <key>sourceSize</key>
                <string>{175,240}</string>
            </dict>
            <key>meihua9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1454},{175,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,240}}</string>
                <key>sourceSize</key>
                <string>{175,240}</string>
            </dict>
            <key>meihuaj.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1212},{175,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,240}}</string>
                <key>sourceSize</key>
                <string>{175,240}</string>
            </dict>
            <key>meihuak.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,970},{175,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,240}}</string>
                <key>sourceSize</key>
                <string>{175,240}</string>
            </dict>
            <key>meihuaq.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,728},{175,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,240}}</string>
                <key>sourceSize</key>
                <string>{175,240}</string>
            </dict>
            <key>qianlan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,486},{175,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,240}}</string>
                <key>sourceSize</key>
                <string>{175,240}</string>
            </dict>
            <key>shenlan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{175,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,240}}</string>
                <key>sourceSize</key>
                <string>{175,240}</string>
            </dict>
            <key>xiaowang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{175,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,240}}</string>
                <key>sourceSize</key>
                <string>{175,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>poker.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a5135b9edb37b684e73c855e245d64db:1/1$</string>
            <key>textureFileName</key>
            <string>poker.png</string>
        </dict>
    </dict>
</plist>
