<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00000001.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,454},{91,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,84}}</string>
                <key>sourceSize</key>
                <string>{91,84}</string>
            </dict>
            <key>1511.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,203},{124,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,122}}</string>
                <key>sourceSize</key>
                <string>{124,122}</string>
            </dict>
            <key>154154.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,591},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>15441.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,646},{79,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,75}}</string>
                <key>sourceSize</key>
                <string>{79,75}</string>
            </dict>
            <key>16345465.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,187},{129,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,118}}</string>
                <key>sourceSize</key>
                <string>{129,118}</string>
            </dict>
            <key>1646.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,68},{162,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,64}}</string>
                <key>sourceSize</key>
                <string>{162,64}</string>
            </dict>
            <key>2145564.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{96,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,78}}</string>
                <key>sourceSize</key>
                <string>{96,78}</string>
            </dict>
            <key>23154.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,611},{73,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,71}}</string>
                <key>sourceSize</key>
                <string>{73,71}</string>
            </dict>
            <key>255631.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,187},{195,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,191}}</string>
                <key>sourceSize</key>
                <string>{195,191}</string>
            </dict>
            <key>256.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,380},{76,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,73}}</string>
                <key>sourceSize</key>
                <string>{76,73}</string>
            </dict>
            <key>256465.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,428},{109,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,43}}</string>
                <key>sourceSize</key>
                <string>{109,43}</string>
            </dict>
            <key>256765.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,327},{183,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,41}}</string>
                <key>sourceSize</key>
                <string>{183,41}</string>
            </dict>
            <key>31285.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,370},{123,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,82}}</string>
                <key>sourceSize</key>
                <string>{123,82}</string>
            </dict>
            <key>3216156.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,427},{106,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,75}}</string>
                <key>sourceSize</key>
                <string>{106,75}</string>
            </dict>
            <key>364211.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,2},{162,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,64}}</string>
                <key>sourceSize</key>
                <string>{162,64}</string>
            </dict>
            <key>41656.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,458},{73,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,71}}</string>
                <key>sourceSize</key>
                <string>{73,71}</string>
            </dict>
            <key>46541.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,134},{67,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,153}}</string>
                <key>sourceSize</key>
                <string>{67,153}</string>
            </dict>
            <key>5451511.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,531},{81,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,83}}</string>
                <key>sourceSize</key>
                <string>{81,83}</string>
            </dict>
            <key>645616.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,539},{70,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,68}}</string>
                <key>sourceSize</key>
                <string>{70,68}</string>
            </dict>
            <key>651416.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,564},{83,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,80}}</string>
                <key>sourceSize</key>
                <string>{83,80}</string>
            </dict>
            <key>654651.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{102,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,119}}</string>
                <key>sourceSize</key>
                <string>{102,119}</string>
            </dict>
            <key>btn_cancel.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,90},{37,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,95}}</string>
                <key>sourceSize</key>
                <string>{37,95}</string>
            </dict>
            <key>btn_congzhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,614},{79,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,79}}</string>
                <key>sourceSize</key>
                <string>{79,79}</string>
            </dict>
            <key>btn_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,454},{69,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,41}}</string>
                <key>sourceSize</key>
                <string>{69,41}</string>
            </dict>
            <key>btn_kefu.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,203},{45,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,64}}</string>
                <key>sourceSize</key>
                <string>{45,64}</string>
            </dict>
            <key>btn_more.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,586},{82,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,78}}</string>
                <key>sourceSize</key>
                <string>{82,78}</string>
            </dict>
            <key>btn_ret.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,540},{82,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,81}}</string>
                <key>sourceSize</key>
                <string>{82,81}</string>
            </dict>
            <key>btn_set.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,525},{41,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,64}}</string>
                <key>sourceSize</key>
                <string>{41,64}</string>
            </dict>
            <key>btn_yinglibang.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,504},{86,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,80}}</string>
                <key>sourceSize</key>
                <string>{86,80}</string>
            </dict>
            <key>gengduo02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{302,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,95}}</string>
                <key>sourceSize</key>
                <string>{302,95}</string>
            </dict>
            <key>head_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,307},{124,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,118}}</string>
                <key>sourceSize</key>
                <string>{124,118}</string>
            </dict>
            <key>tishi_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{343,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{343,86}}</string>
                <key>sourceSize</key>
                <string>{343,86}</string>
            </dict>
            <key>zang.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,370},{58,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,56}}</string>
                <key>sourceSize</key>
                <string>{58,56}</string>
            </dict>
            <key>zuoxia1.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,623},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>public.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b2ff86013c0bdc75632fff98fa3157d9:1/1$</string>
            <key>textureFileName</key>
            <string>public.png</string>
        </dict>
    </dict>
</plist>
