<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>000012001.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,496},{47,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,50}}</string>
                <key>sourceSize</key>
                <string>{47,50}</string>
            </dict>
            <key>026781.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,98},{103,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,102}}</string>
                <key>sourceSize</key>
                <string>{103,102}</string>
            </dict>
            <key>0268971.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,543},{47,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,49}}</string>
                <key>sourceSize</key>
                <string>{47,49}</string>
            </dict>
            <key>05543.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,496},{47,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,48}}</string>
                <key>sourceSize</key>
                <string>{47,48}</string>
            </dict>
            <key>100.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,2},{103,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,108}}</string>
                <key>sourceSize</key>
                <string>{103,108}</string>
            </dict>
            <key>10121101.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,302},{95,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,102}}</string>
                <key>sourceSize</key>
                <string>{95,102}</string>
            </dict>
            <key>1247633.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,33},{255,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,50}}</string>
                <key>sourceSize</key>
                <string>{255,50}</string>
            </dict>
            <key>125487986.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,395},{101,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,97}}</string>
                <key>sourceSize</key>
                <string>{101,97}</string>
            </dict>
            <key>14541.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,493},{50,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,47}}</string>
                <key>sourceSize</key>
                <string>{50,47}</string>
            </dict>
            <key>1464111.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,298},{101,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,97}}</string>
                <key>sourceSize</key>
                <string>{101,97}</string>
            </dict>
            <key>146541451.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,33},{76,96}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,96}}</string>
                <key>sourceSize</key>
                <string>{76,100}</string>
            </dict>
            <key>151611.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,355},{101,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,96}}</string>
                <key>sourceSize</key>
                <string>{101,96}</string>
            </dict>
            <key>15165.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,33},{220,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,211}}</string>
                <key>sourceSize</key>
                <string>{220,211}</string>
            </dict>
            <key>1541.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,343},{102,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,97}}</string>
                <key>sourceSize</key>
                <string>{102,97}</string>
            </dict>
            <key>15411.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,246},{107,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,111}}</string>
                <key>sourceSize</key>
                <string>{107,111}</string>
            </dict>
            <key>154145.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,202},{98,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,102}}</string>
                <key>sourceSize</key>
                <string>{98,102}</string>
            </dict>
            <key>154561.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,442},{97,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,102}}</string>
                <key>sourceSize</key>
                <string>{97,102}</string>
            </dict>
            <key>1547811.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,453},{47,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,50}}</string>
                <key>sourceSize</key>
                <string>{47,50}</string>
            </dict>
            <key>15789631.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,353},{97,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,102}}</string>
                <key>sourceSize</key>
                <string>{97,102}</string>
            </dict>
            <key>16161.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,85},{217,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,211}}</string>
                <key>sourceSize</key>
                <string>{217,211}</string>
            </dict>
            <key>16540354.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,399},{101,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,96}}</string>
                <key>sourceSize</key>
                <string>{101,96}</string>
            </dict>
            <key>20002020201.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,444},{50,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,47}}</string>
                <key>sourceSize</key>
                <string>{50,47}</string>
            </dict>
            <key>20020002000.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,453},{47,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,50}}</string>
                <key>sourceSize</key>
                <string>{47,50}</string>
            </dict>
            <key>23357861.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,452},{47,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,50}}</string>
                <key>sourceSize</key>
                <string>{47,50}</string>
            </dict>
            <key>3216516.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,33},{63,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,153}}</string>
                <key>sourceSize</key>
                <string>{63,153}</string>
            </dict>
            <key>46541.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,33},{67,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,153}}</string>
                <key>sourceSize</key>
                <string>{67,153}</string>
            </dict>
            <key>50006484411.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,452},{47,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,50}}</string>
                <key>sourceSize</key>
                <string>{47,50}</string>
            </dict>
            <key>5006976526.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,343},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>5050501.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,497},{47,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,50}}</string>
                <key>sourceSize</key>
                <string>{47,50}</string>
            </dict>
            <key>511151.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,497},{47,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,49}}</string>
                <key>sourceSize</key>
                <string>{47,49}</string>
            </dict>
            <key>516511.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,826},{157,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,209}}</string>
                <key>sourceSize</key>
                <string>{157,209}</string>
            </dict>
            <key>55555554541511.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,494},{47,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,50}}</string>
                <key>sourceSize</key>
                <string>{47,50}</string>
            </dict>
            <key>568956451.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,494},{47,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,50}}</string>
                <key>sourceSize</key>
                <string>{47,50}</string>
            </dict>
            <key>651454611.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,234},{107,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,111}}</string>
                <key>sourceSize</key>
                <string>{107,111}</string>
            </dict>
            <key>6515611.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,395},{50,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,47}}</string>
                <key>sourceSize</key>
                <string>{50,47}</string>
            </dict>
            <key>651611.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,112},{120,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,125}}</string>
                <key>sourceSize</key>
                <string>{120,125}</string>
            </dict>
            <key>651651.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,246},{105,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,110}}</string>
                <key>sourceSize</key>
                <string>{105,110}</string>
            </dict>
            <key>6541651.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{915,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{915,29}}</string>
                <key>sourceSize</key>
                <string>{915,29}</string>
            </dict>
            <key>748541.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,298},{102,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,95}}</string>
                <key>sourceSize</key>
                <string>{102,95}</string>
            </dict>
            <key>7856511.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,397},{97,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,100}}</string>
                <key>sourceSize</key>
                <string>{97,100}</string>
            </dict>
            <key>bangzhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{722,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{722,71}}</string>
                <key>sourceSize</key>
                <string>{722,71}</string>
            </dict>
            <key>card_list_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,836},{184,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,90}}</string>
                <key>sourceSize</key>
                <string>{184,90}</string>
            </dict>
            <key>quxiao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,985},{37,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,95}}</string>
                <key>sourceSize</key>
                <string>{37,95}</string>
            </dict>
            <key>tongsha.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,112},{712,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{712,180}}</string>
                <key>sourceSize</key>
                <string>{712,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>public2.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:57b1a2a2d31d7229ffe3b2b1d7bded1c:1/1$</string>
            <key>textureFileName</key>
            <string>public2.png</string>
        </dict>
    </dict>
</plist>
