<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>151541.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,572}</string>
                <key>spriteSourceSize</key>
                <string>{49,572}</string>
                <key>textureRect</key>
                <string>{{1,1},{49,572}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>154165416.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,37}</string>
                <key>spriteSourceSize</key>
                <string>{37,37}</string>
                <key>textureRect</key>
                <string>{{52,213},{37,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5444.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,210}</string>
                <key>spriteSourceSize</key>
                <string>{197,210}</string>
                <key>textureRect</key>
                <string>{{52,1},{197,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>forget_pwd.png</string>
            <key>size</key>
            <string>{250,574}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:94452252df4880c12dcd8d7e3934df74:ad930ecd4e7b166d0846671f15464585:2715481ec8750b239025ca03426da44e$</string>
            <key>textureFileName</key>
            <string>forget_pwd.png</string>
        </dict>
    </dict>
</plist>
