<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_img.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,158},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>btn_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{228,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,54}}</string>
                <key>sourceSize</key>
                <string>{228,54}</string>
            </dict>
            <key>common_input_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,232},{2,38}}</string>
                <key>offset</key>
                <string>{-202,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,11},{2,38}}</string>
                <key>sourceSize</key>
                <string>{572,60}</string>
            </dict>
            <key>gou_img.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,232},{26,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,22}}</string>
                <key>sourceSize</key>
                <string>{26,22}</string>
            </dict>
            <key>passworld_input_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,106},{572,50}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{572,50}}</string>
                <key>sourceSize</key>
                <string>{572,60}</string>
            </dict>
            <key>phone_input_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,54},{572,50}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{572,50}}</string>
                <key>sourceSize</key>
                <string>{572,60}</string>
            </dict>
            <key>unlock_input_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,2},{572,50}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{572,50}}</string>
                <key>sourceSize</key>
                <string>{572,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>login.png</string>
            <key>size</key>
            <string>{1024,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eb42b7bea771dca34c80464c110a2f73$</string>
            <key>textureFileName</key>
            <string>login.png</string>
        </dict>
    </dict>
</plist>
