<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,54}</string>
                <key>spriteSourceSize</key>
                <string>{228,54}</string>
                <key>textureRect</key>
                <string>{{213,52},{228,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>phone_img.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,210}</string>
                <key>spriteSourceSize</key>
                <string>{197,210}</string>
                <key>textureRect</key>
                <string>{{1,52},{197,210}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pwd_input_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,572}</string>
                <key>spriteSourceSize</key>
                <string>{49,572}</string>
                <key>textureRect</key>
                <string>{{1,1},{49,572}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>show_pwd_icon_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,45}</string>
                <key>spriteSourceSize</key>
                <string>{31,45}</string>
                <key>textureRect</key>
                <string>{{443,52},{31,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>show_pwd_icon_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,45}</string>
                <key>spriteSourceSize</key>
                <string>{27,45}</string>
                <key>textureRect</key>
                <string>{{490,52},{27,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>register_02.png</string>
            <key>size</key>
            <string>{574,250}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:40f87168bb7bb0a7d7ea93deb8b7bcdb:fcb2117d524783b7dd43ea9d276820e3:3ce08227c3b608e04d964173bf48c018$</string>
            <key>textureFileName</key>
            <string>register_02.png</string>
        </dict>
    </dict>
</plist>
